<div class="screen">
  <div class="header-container">
    <img href="" src="/banner2.png" (click)="routeHome()" />
    <div class="nav">
      <ul>
        <li class="menu-btn">HOME</li>
        <li class="menu-btn">CONTACT</li>
        <li class="menu-btn">ABOUT</li>
        <li class="menu-btn">HELP</li>
      </ul>
    </div>
  </div>
  <!-- <div class="content-container">
    <h1>Welcome to Rider's Paradise</h1>
    <p>
      A place where all rider can find everything at one place. From bike to
      jacket to top box. All accessories would be available all under sane roof
    </p>
  </div> -->

  <div class="screen-root">

  </div>
</div>
